:root {
    --vermelho: #e50914;
    --preto: #141414;
    
}

/*Elementos base*/
body {
    background: var(--preto);
    font-family: 'Literata', serif;
    color: white;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

header .logo {
    color: var(--vermelho);
    font-family: 'Pacifico', cursive;
    font-family: 'Reenie Beanie', cursive;
    font-size: 40px;
    text-transform: uppercase;
    
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}


/*Filme principal*/
.filme-principal {
    font-size: 16px;
    position:relative;
    height: 100%;
    
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}


.item:hover {
    margin: 0;
    position: relative;
    display: inline-block;
    opacity: 0.6;
    transition: 1000 ease all;    
}

.play {
    display: block;
    position: absolute;
    top: 50%;
    align-items: center; 
}


        

/*Vídeos*/




