.bg-video {
    position: flex;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}



.video-inicio {
    position: relative;
    width: 100%;
    height: auto;
}

.video {
    position: relative;
    height: auto;
    animation-play-state: paused;
    width: 100%;
}



/*Título e descrição do vídeo*/
.container{
    margin-top: 1%;
    display: block;
}
.filme-principal {
    position: absolute;
    height: 100%;
}
.filme-principal .container{
    width: 70%;
    
}


.filme-principal .descricao{
    margin-bottom: 50px;
    width: 70%;
    position: relative;
}

.filme-principal .titulo{
    font-size: 20px;
    margin-top: 30%;
    margin-left: -15%;
    position: relative;
    
}

.filme-principal p {
    margin-left: -15%;
    width: 150%;
}

@media screen and (max-width:700px) {
    .video-inicio {
        position: relative;
        width: 100%;
    }
    .botoes {
        display: flex;
        margin: auto;
        width: 100%; 
    }

    .filme-principal .descricao{
        margin-bottom: 20px;
        width: 70%;
        font-size: 10px;
        
    }
    
    .filme-principal .titulo{
        font-size: 10px;
        margin-top: 30%;
        margin-left: -15%;
        position: relative;
        display: inline-block;
        
    }
}